<div class="container">
  <section class="landing">
    <div class="holder">
      <h1>Trello API Testing grounds</h1>
      <p>Where the magic happens and no one cares</p>
    </div>
  </section>
  <section class="info">
    <div class="holder">
      <h1>Getting Information</h1>
      <p>Using Trello involves using things like boards, lists, and cards. Each one of those has its own unique ID. The
        main problem that someone encounters when trying to use the API, other than making sure to have an API key and
        token, is getting all the information that you need without any of the information you don't</p>
    </div>
  </section>
  <section class="form">
    <div class="holder">
      <h1>Most Important</h1>
      <p>Make sure that you have something you actually want to do. Testing for testing's sake with the Trello API is
        beyond tedious. They did a good job making a robust API, just not a fun one within with to play around.</p>
    </div>
  </section>
</div>